:root {
    // color
    --main-color: #fff;
    --gray: #969696;
    --additional-color:#D0D0D0;

    // bg-color
    --main-bg-color: #000;
    --hover-bg-color: #1F1F1F;
    --menu-bg-color: #0F0F0F;
    --img-bg-color: #191B1C;
    
    --max-width: 1950px;
}
